*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(42, 102, 253);
    color: white;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    height: 7vh;
    font: weight 400px;
}

body{
    background-color:rgba(231, 231, 230, 0.836);
}

section{
    margin: 20px;
    padding-bottom: 5px;
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 30px;
}

img{
    width: 150px;
    height: 200px;
    margin: 20px;;
}

h2{
    margin: 0px 20px 20px 20px;
}

p{
    margin: 0px 20px 20px 20px;
}

.achievements{
    padding-top: 25px;
    padding-bottom: 30px;
}

ul{
    margin: 0px 20px 20px 20px;
    position: relative;
    left: 3vw;
}

footer{
    background-color: rgb(42, 102, 253);
    color: white;
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    height: 7vh;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

